@use "sass:list";

.grid {
  display: inline-block;
  border: 3px solid #1e3d59;
  background: radial-gradient(circle at center, #8fd3f4 0%, #64bbf5 70%, #3498db 100%);
  user-select: none;
  position: relative;

  $ship-colors: #9534db, #2ecc71, #e73cd9, #f39c12;

  &__header {
    display: flex;
  }

  &__corner {
    width: 30px;
    height: 30px;
  }

  &__colHeader,
  &__rowHeader {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;
  }

  &__row {
    display: flex;
  }

  &__cell {
    width: 30px;
    height: 30px;
    background-color: transparent;
    transition: background-color 0.4s ease, border 0.4s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.403);
      cursor: pointer;
    }

    &_hit {
      background: radial-gradient(circle, #ff6b6b 0%, #e74c3c 70%, #72150b 100%);
      border: 2px solid #72150b;
    }


    &_miss {
      background: radial-gradient(circle, #ffffff 0%, #d6f4ff 70%, #45afc9 100%);
      border: 2px solid #45afc9;
    }

    &_highlight {
      background-color: rgba(76, 175, 80, 0.5);
      border: 2px solid #4caf50;
    }

    &_invalid {
      background-color: rgba(244, 67, 54, 0.5);
      border: 2px solid #f44336;
    }

    @for $i from 1 through 4 {
      &_ship#{$i} {
        $color: list.nth($ship-colors, $i);

        background: linear-gradient(
          135deg,
          lighten($color, 10%),
          $color,
          darken($color, 10%)
        );
        border: 2px solid darken($color, 15%);
      }
    }
  }
}
